@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900&family=Poppins:wght@300;400;500;600;700;800&display=swap');
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box; /* Tambahkan ini untuk mencegah padding dan border memengaruhi lebar dan tinggi elemen */
        }
        body{
            font-family: 'Poppins', sans-serif;
            color: #263238;
            background-color: whitesmoke;
            scroll-behavior: smooth;
        }
        #login-container{
            border: solid black 1px;
            height: 365px;
            width: 450px;
            margin: auto;
            margin-top: 25px;
            border-radius: 5px;
            display: flex;
            flex-direction: column; /* Mengatur tata letak elemen ke dalam satu kolom */
        }
        h2{
            text-align: center;
            margin-top: 15px;
            margin-bottom: 15px;
        }
        input{
            width: 350px;
            border-radius: 5px;
            border: none;
            outline: none;
            border: solid black 1px;
            margin-bottom: 30px; /* Jarak antar input */
            margin-left:45px;
            margin-top: 10px;
            padding: 5px; /* Tambahkan padding agar input terlihat lebih baik */
        }
        #username{
            margin-bottom: 25px;
        }
        label{
            font-weight: 500;
            margin-left:45px;
        }
        button{
            width: 125px;
            height: 30px;
            border-radius: 5px;
            border: none;
            outline: none;
            background: #4663AC;
            color: white;
            margin-left:150px;
            margin-top: 25px;
        }
        p{
            text-align:center;
            margin-top:15px;
        }